<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Page</title>
    
</head>
<body>
    <div class="loader">
        <div class="loader__processing"></div>
    </div>

    <div class="swiper fullpage-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color: chocolate;">
                <div class="slide-container slide-container--column">

                    <div class="sound-controls-container">
                        <button class="sound-controller" id="playCafe" data-label-play="play" data-label-playing="playing">
                            <div class="sound-controller-progress"></div>
                            <span class="sound-controller-label">
                                Play
                            </span>
                        </button>
    
                        <button class="sound-controller" id="playLaugh" data-label-play="play" data-label-playing="playing">
                            <div class="sound-controller-progress"></div>
                            <span class="sound-controller-label">
                                Play
                            </span>
                        </button>
    
                        <button class="sound-controller" id="playSurprise" data-label-play="play" data-label-playing="playing">
                            <div class="sound-controller-progress"></div>
                            <span class="sound-controller-label">
                                Play
                            </span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide" style="background-color: burlywood;">
                <div class="footer">
                    Slide 2 (footer)
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</body>
</html>